# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
NodeTensorFlow/.idea
StaticTensorFlow/.idea
NodeTensorFlow/*.iml
StaticTensorFlow/*.iml
out
gen### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#mergetool
*.orig

#whatever that ist
*[*

#exclude node modules
node_modules/*
NodeTensorFlow/node_modules/*
StaticTensorFlow/node_modules/*

NodeTensorFlow/node_modules/dist/*

